.index_list_left {
    margin-right: 12px;
}

.index_list_top {
    margin-top: 14px;
}

.common_red_color {
    color: #fc0000;
}

.title_b_txt {
    margin-bottom: 38px;
}

.l {
    float: left;
    text-align: right;
}

.r {
    float: right;
    text-align: left;
}

.import_7_bottom {
    margin-bottom: 24px;
}

#transBg {
    background: url('../images/pro14.png') repeat 0 0;
    display: none;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 99999;
}

.dialogwx {
    width: 162px;
    height: 162px;
}

.dialog {
    background: #fff;
    padding: 2px;
    border: 1px solid #ccc;
    position: absolute;
    z-index: 10000000;
    display: none;
}
.clear_indent{
    text-indent: 0px;
}
.lm_8_1{
    margin-bottom: 38px;
}



@media screen and (max-width: 750px) {
    .news_m_nav {
        ul {
            li {
                .m_active {
                    color: #fc0000;
                    border-bottom: 0.03rem solid #fc0000;
                }
            }
        }
    }
    .news_m_navson {
        ul {
            li {
                .m_activeson {
                    color: #fc0000;
                }
            }
        }
    }
    .m_top9 {
        margin-top: 0.9rem;
    }
    .m_top_18{
        margin-top: 1.8rem !important;
    }
   
}